html,
body {
  margin: 0;
}

.navbar {
  margin-bottom: 1rem;
  padding-bottom: 0.5%;
}

.navbar-brand {
  margin: 0px;
  margin-bottom: 5px;
}

#shopping-cart {
  margin-top: 6%;
}

#home-button {
  margin-top: -0.5rem;
}

.carousel-control {
  color: black;
}

marquee {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}
