{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{{category.capitalize}}{% endblock %}
  </head>
  {% block content %}
  <body>
    <h2 style="text-align: center">{{category.capitalize}}</h2>
    <div class="container">
      {% for i in category_products %}
      <div class="card">
        <img
          class="card-img-top"
          src="{{i.image_url}}"
          alt="{{i.name.capitalize}}"
        />
        <div class="card-body">
          <a
            href="{% url 'products' i.category i.id %}"
            class="link-info"
            style="font-size: 150%"
            >{{i.name.capitalize}}</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
  {% endblock %}
</html>
